{% extends 'base.html'%}
{% load static %}
{% block title %}Login{% endblock %}
{% block sidelist %}
<div class="container-fluid">
    <h5 class="card-title text-center">Login</h5>
    <div class="form row justify-content-center">
        <form role="form" action="{% url 'accounts:user_login' %}" method="POST">
            {% csrf_token %}
            {% for field in form.visible_fields %}
            <div class="form-group">
                <label for="">{{ field.label_tag }}</label>
                {{field}}
            </div>
            {% endfor %}
            <div class="text-center">
                <button id="sign-btn" type="submit">Sign in</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <img class="img-responsive" src="{% static 'accounts/src/report.png' %}" width="568" height="408" >
</div>

{% endblock %}
