body {
    margin: 0;
    font-family: "Lato", sans-serif;
}
hr {
    margin-top: 0;
    border-top: 1px solid white;
}
a {
    text-decoration: none;
}

label{
}
.sidebar {
    margin: 0;
    padding: 0;
    width: 250px;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    background-color: #003E51;
    box-shadow: 0px 0px 10px grey;
}
.sidebar-nav {
    width: 100%;
    padding: 10px 0 0 20px;
}
.sidebar-nav a{
    color: white;
    text-decoration: none;
}
.sidebar-list ul {
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.sidebar-list li {
    display: block;
    padding: 10px;
    padding-left:25px;
    word-spacing: 20px; 
}
.sidebar-list li a {
    text-decoration: none;
    color: white;
}
.sidebar-list li:hover {
    color: white;
    background: #00455a;
    cursor: pointer;
}
.btn-wrapper {
    position: absolute;
    bottom: 10px;
    width: 100%;
}
.btn-general {
    background-color: #003E51;
    color: white;
}
.btn-delete{
    background-color: rgb(245, 81, 81);
    color: white;
}
.btn-edit{
    background-color: gray;
    color: white;
}
.btn:hover {
    background-color: #00455a;
    color: white;
}
#sign-btn {
    background-color: #007A33 !important;
    border: none;
    border-radius: 3px;
    color: white;
}
#sign-btn:hover {
    background-color: #0e8a41 !important;
    color: white;
}
.form-group{padding-left: 20px;}
.form-group label, h5{
    color: white;
    border: none;
}
.form-group input{
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

.form-add-device label, h5{
    color: black !important;
}
.card{
    box-shadow: 2px 2px 3px grey;
    width: 100%;
}

.card-header{
    background-color: #00B0B9;
    color: white;
}
.thead{
    background-color: #003E51 !important;
    color: white;
}
.btn-float-wrapper{
    margin-top: 20px;
}
.btn-float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:grey;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.btn-float:hover{
    background-color:rgb(100, 100, 100);
    color: white;
}


div.content {
    margin-left: 250px;
    padding: 50px 10px 10px 10px;
    height: 100%;
    overflow-x: scroll;
    overflow: hidden;
}
@media screen and (max-width: 768px) {
    .sidebar {
        margin: 0;
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar-nav {text-align: center;}
    .sidebar-list ul {
        width:100%;
        display: flex;
        flex-wrap: wrap;
    }
    .sidebar-list li {
        text-align: center;
        padding:30px;
        word-spacing: 5px;
    }
    .form{padding: 0 0px 20px 0;}
    .form-group{padding: 0;}
    .btn-wrapper{display:none;}
    div.content {margin-left: 0;}
}

